<<!DOCTYPE html>
<html>
<head>
	<title>teste do andrei chamando no sinatra</title>
</head>
<body>
   <h1>Isso é um teste de chamado de pagina estatica</h1>
   Soma de parametros -> <%= @soma %>
</body>
</html>
