<!DOCTYPE html>
<html>
<head>
	<title>Novo contato</title>
</head>
<body>
<form method="post" action="salva">
	Nome:<input type="text" name="nome"><br/>
	Tel:<input type="tel" name="telefone">
	<button>Salvar</button>
</form>
</body>
</html>